.--country-select__menu.--country-select__menu {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0 0 2px 2px;
  border: none;
  box-shadow: none;
}

.--country-select__container.--country-select__container {
  width: 230px;
}

.--country-select__placeholder.--country-select__placeholder {
  color: #adadad;
}

.--country-select__control.--country-select__control {
  min-height: 35px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2px 2px 0 0;
  border: none;
}

.--country-select__indicators.--country-select__indicators {
  order: -1;
  width: 22px;
  justify-content: flex-end;
}
